<h1>Nova Pergunta</h1>

<ul>
  <% @questions.each do |question| %>
    <li><%= question.description.truncate(50) %></li>
    <li><%= question.subject.description.truncate(30) %></li>
  <% end %>
</ul>